<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Neural Tank</title>
    <script src="vendor/pixi.min.js"></script>
    <script src="vendor/jsbattle.min.js"></script>
  </head>
  <body>
    <canvas id="battlefield" style="width: 900px; height: 600px"></canvas>
  </body>
</html>
